<h3>Orbit Reports</h3>
<table>
    <tr class='header-row'>
        <th class='sortable' (click)="sort('name')">Name</th>
        <th class='sortable' (click)="sort('type')">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    <tr *ngFor='let item of satellites' [class.odd]="satellites.indexOf(item) % 2 === 1" [class.even]="satellites.indexOf(item) % 2 === 0" >
        <td>{{item.name}}</td>
        <td [class.warning]='item.shouldShowWarning()'>{{item.type}}</td>
        <td>{{item.operational}}</td>
        <td>{{item.orbitType}}</td>
        <td>{{item.launchDate}}</td>
    </tr>
</table>